div{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #1c1c1c;
    color: #ffffff;
}

.left-page-nav{
    float: left;
    padding-left: 10px;
}

.left-page-nav li{
    display: inline;
}

.right-page-nav a{
    color: #ffffff;
    text-decoration: none;
}

.right-page-nav{
    float: right;
    padding-right: 10px;
}

.right-page-nav li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.header{
    min-height: 200px;
}

.header h1{
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 0;
    padding-right: 0;
}

.course{
    display: block;
}

.post{
    padding: 0;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 40%;
    margin-left: 30%;
}

.about-text{
    margin-left: 30%;
    margin-right: 30%;
    font-size: 20px;
    text-align: justify;    
}

@media(max-width: 950px){
    img {
        width: 50%;
        margin-left: 25%;
    }
    
    .about-text{
        margin-left: 25%;
        margin-right: 25%;    
    }
}

@media(max-width: 600px){
    img {
        width: 60%;
        margin-left: 20%;
    }
    
    .about-text{
        margin-left: 20%;
        margin-right: 20%;    
    }
}

@media(max-width: 535px){
    .left-page-nav li{
        font-size: 75%;
        display: block;
    }

    .right-page-nav li{
        display: block;
        font-size: 75%;
        text-align: right;
    }

    .unnecessary-dot{
        visibility: hidden;
    }

    .header{
        font-size: 85%;
    }
}

@media(max-width: 425px){
    .course{
        display: block;
    }
    .about-text{
        text-align: center;
    }
}

@media(max-width: 380px){
    img {
        width: 90%;
        margin-left: 5%;
    }
    
    .about-text{
        margin-left: 5%;
        margin-right: 5%;    
    }
}

@media(max-width: 240px){
    .left-page-nav{
        display: none;
    }
}

footer{
    text-align: center;
    font-size: 75%;
    margin-bottom: 25px;
    margin-top: 25px;
}