div{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: #1c1c1c;
    color: #ffffff;
}

nav ul{
    margin-top: 20px ;
}

.left-page-nav{
    float: left;
    padding-left: 10px;
}

.left-page-nav li{
    display: inline;
}

.right-page-nav a{
    color: #ffffff;
    text-decoration: none;
}

.right-page-nav{
    float: right;
    padding-right: 10px;
}

.right-page-nav li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.header{
    min-height: 200px;
}

.header h1{
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 0;
    padding-right: 0;
}

.course{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0;
}

.course div:nth-child(even) img{
    width: 100%;
}
 
.course div:nth-child(odd) img{
    width: 100%;
}
/* 
.left-images{
    display: inlineblock;
}

.right-images{
    display: inline-block;
} */

.post{
    font-size: 0;
}

@media(max-width: 425px){
    .course{
        display: block;
    }
}

@media(max-width: 535px){
    .left-page-nav li{
        font-size: 75%;
        display: block;
    }

    .right-page-nav li{
        display: block;
        font-size: 75%;
        text-align: right;
    }

    .unnecessary-dot{
        visibility: hidden;
    }

    .header{
        font-size: 85%;
    }
}

@media(max-width: 240px){
    .left-page-nav{
        display: none;
    }
}

footer{
    text-align: center;
    font-size: 75%;
    margin-bottom: 25px;
    margin-top: 25px;
}
