@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --one: rgb(240, 240, 240);
    --two: rgb(20, 20, 20);
    --three: rgb(70, 70, 70);
}

/* hiding scrollbar */
*::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* text selection colors */
::-moz-selection { /* Code for Firefox */
    color: var(--one);
    background: var(--three);
}
::selection {
    color: var(--one);
    background: var(--three);
}

a {
    text-decoration: none;
    color: inherit;
}

body {  
    background-color: var(--one);
    color: var(--two);
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    font-size: 4.5rem;
    /* line-height: 80px; */
}

.bold {
    font-weight: 500;
}

.text {
    padding: 4rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
    color: var(--three);
    padding-bottom: 1rem;
}

.text-1-part-1 {
    padding-bottom: 2rem;
}

.text-2-part-1 {
    font-size: 3rem;
}

.text-2-part-2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.text-2-part-2 > div{
    padding-bottom: 0.5rem;
}

@media(max-width: 1070px) {
    body {
        font-size: 4rem;
    }
}

@media(max-width: 970px) {
    body {
        font-size: 3rem;
    }
    .text-2-part-1 {
        font-size: 2.2rem;
    }
    .heading {
        font-size: 1.3rem;
    }
}

@media(max-width: 570px) {
    body {
        font-size: 2.3rem;
    }
    .text-2-part-1 {
        font-size: 1.5rem;
    }

    .heading {
        font-size: 1rem;
    }
}

@media(max-width: 430px) {
    .text {
        padding: 2rem;
    }
    body {
        font-size: 2rem;
    }
    .text-2-part-1 {
        font-size: 1.4rem;
    }
    .heading {
        font-size: 1rem;
    }
}

@media(max-width: 330px) {
    .text {
        padding: 1rem;
    }
    body {
        font-size: 1.7rem;
    }
    .text-2-part-1 {
        font-size: 1.2rem;
    }
    .heading {
        font-size: 0.8rem;
    }
}

@media(max-width: 330px) {
    .text {
        padding: 1rem;
    }
    body {
        font-size: 1.7rem;
    }
    .text-2-part-1 {
        font-size: 1.2rem;
    }
    .heading {
        font-size: 0.8rem;
    }
}