@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --one: #1f1f1f;
    --two: #f5f5f5;
    --three: #7c7c7c;
}

*::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-moz-selection {
    color: var(--one);
    background: var(--three);
}
::selection {
    color: var(--one);
    background: var(--three);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

body {  
    background: var(--one);
    color: var(--two);
    font-family: 'JetBrains Mono', sans-serif;
    
    margin-inline: auto;

    display: grid;
    place-items: center;
}

.screen {
    width: 80vw;
    height: 80vh;
    overflow: hidden;
    margin: 10vh 10vw;
}

.screen-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.screen-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.hello {
    line-height: 90%;
    font-size: 8rem;
    text-align: center;
    display: grid;
    place-items: center;
}

.gilfoyle {
    text-align: center;
    font-size: 1.2rem;
    color: var(--two);
}

.box {
    padding: 1rem;
    margin-right: 2rem;
}

.box-heading {
    margin-bottom: 2rem;
}

.box-content {
    color: var(--three);
    width: fit-content;
    margin-bottom: 1rem;
}

@media(max-width: 1100px) {
    .hello {
        font-size: 5.5rem;
    }
}

@media(max-width: 800px) {
    .hello {
        font-size: 5rem;
    }
    .screen-1 {
        gap: 2rem;
    }
    .gilfoyle {
        font-size: 0.95rem;
    }
    .screen-2 {
        height: fit-content;
        grid-template-columns: 1fr;
    }
    .left {
        height: 60vh;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 660px) {
    .hello {
        font-size: 4.1rem;
    }
    .screen-1 {
        gap: 1.75rem;
    }
    .gilfoyle {
        font-size: 0.85rem;
    }
}

@media(max-width: 550px) {
    .hello {
        font-size: 3.5rem;
    }
    .screen-1 {
        gap: 1.25rem;
    }
    .gilfoyle {
        font-size: 0.8rem;
    }
    .box {
        margin-right: 0;
    }
    .screen-2 {
        height: fit-content;
        grid-template-columns: 1fr;
    }
    .left {
        height: fit-content;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media(max-width: 460px) {
    .hello {
        font-size: 4.5rem;
    }
    .screen-1 {
        gap: 1.25rem;
    }
    .gilfoyle {
        width: 70vw;
        font-size: 0.8rem;
    }
    .box {
        margin-right: 0;
    }
    .screen {
        width: 90vw;
        height: 90vh;
        margin: 5vh 5vw;
    }
    .screen-2 {
        height: fit-content;
        grid-template-columns: 1fr;
    }
    .left {
        height: fit-content;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media(max-width: 330px) {
    .box {
        margin-right: 0;
    }
    .screen {
        width: 96vw;
        height: 96vh;
        margin: 2vh 2vw;
    }
    .screen-2 {
        height: fit-content;
        grid-template-columns: 1fr;
    }
    .left {
        height: fit-content;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}