* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #e8e8e8;
    color: rgb(28, 28, 28);
    font-family: "Manrope", serif;

}

body > * {
    height: 100%;
    width: 100vw;
}

.page-1 {
    display: grid;
    grid-template-rows: 80px 1fr 80px 1fr 80px;
}

a {
    color: inherit;
    text-decoration: none;
}

.head {
    font-family: "Manrope", serif;
    font-size: 10em;
    font-weight: 500;
    
    display: grid;
    place-items: center;
}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.image {
    display: grid;
    place-items: center;
}

.imagereal {
    width: calc(33vw - 200px);
}

.panel {
    width: 65vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-inline: 2rem;
    margin-inline: auto;
}

.info-text-thin {
    width: 80%;
    margin-inline: auto;
}

.item {
    font-size: 0.75em;
}

.item-index {
    color: #7a7a7a;
}
.item-banner {
    color: rgb(28, 28, 28);
    font-weight: 500;
}

.item-index, .item-banner {
    cursor: pointer;
}

.info {
    display: grid;
    place-items: center;
}

.info-item {
    width: 40%;
    text-align: center;
}

.info-text {
    font-size: 0.75em;
}

.nav {
    padding: 1rem;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.nav-item {
    width: 10vw;
}

.nav-small {
    font-size: 0.75em;
}

.nav-right {
    text-align: right;
}

.nav-center {
    text-align: center;
}

.foot {
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 0.75em;
}

.another-panel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* padding: 25vw; */
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;

    padding-inline: 10vw;
    margin-inline: auto;
}

.another-panel > * {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;
}

.page-another {
    margin-top: 5rem;
    padding-bottom: 5rem;
    height: fit-content;
}

.item-container {
    display: flex;
    align-items: left;
    justify-content: center;
    padding-left: 5.5rem;
}

.item-container > .item {
    width: 80%;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: left;
}

.sub-head {
    font-family: "Manrope", serif;
    font-size: 3em;
    font-weight: 500;
    
    display: grid;
    place-items: center;
    margin-bottom: 2rem;
}